.main-body{
    position: inherit;
    z-index: 20;
}
/* .extra-to-set{
    width: 100%;
    border: 1px solid red;
    height: 150px;
} */
.extra-2{
    width: 100%;
    height: 180px
}

.bg-img{
    background-image: url("https://images.meesho.com/images/marketing/1649759774600.jpg");
    height: 500px
}
.bg-img2{
    background-image: url("https://images.meesho.com/images/pow/download_banner_desktop.webp");
    height : 500px
}
.image-on-bg{
    margin-left: 2%;
    margin-top: 4%;
}
.image2-on-bg{
    margin-left: 2%;
    margin-top: 16%;
}
.image3-on-bg{
    margin-left: 2%;
    margin-top: 16%;
}
.business-card{
    margin-top: 1%;
    width: 45%;
    color: rgb(209, 24, 104);
    margin-left: 50%;
    text-align: end;
}
.soc-web{
    width: 35%;
    margin-top: 5%;
    margin-left: 60%;
}
.soc-img{
    width: 100%;
    margin-right: 5%;
}
.soc-img2{
    width: 105%
}
.o{
    margin: 5px
}