.fixed-nav{
    height: 5px;
}
.container-1{
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}
.svg-brand{
    margin-top: 1%;
    margin-left: 3%
}
.box{
    margin-left: 35%;
    margin-top: -3%
}
.steplabel{
    font-size: small;
}