
.main{
    background-color: white;
    margin-bottom: 0.5%;
    padding-top: 2%;
}
.mian-2{
    background-color: white;
    width: 65%;
    margin: auto;

}
.outer_ring{
    display: flex;
}
.vt-ln{
    width: 2px;
    height: 200px;
    background-color: grey;
    margin-left: 2%;
    margin-right: 2%
}
.inner-ring-1{
    width: 55%;

}
.inner-ring-2{ 
    width: 40%;
    border: 1px solid whitesmoke
}
.inner-ring-2 > div{
    display: flex;
}

.hr-ln{
    width: 100%;
    height: 1px;
    border : 1px solid lightgrey;
    background-color: grey;
    margin-bottom: 2%;
}
.inner-one > div{
    display: flex;
}
.inner-one{
    margin-left: 2.5%;
    width: 95%;
    height: 100px
}
.first-div{
    display: flex;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}
.image-short{
    width: 20%;
    height: 80%;
    padding: 2px;
    margin-top:2%
}
.cart-img{
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    border-radius: 5px;
}
.flex-1{
    width: 75%;
    margin-left: 23%;
    margin-top: -16.5%;
    margin-bottom: .5%;
}
.flex-2{
    width: 20%;
    margin-top: -3%;
    margin-left: 23%;
    margin-bottom: .5%;
}
.price-of-data{
    margin-left: 23%;
    width: 20%;
    margin-top: -3%;
}

.cart-img{
    border-radius: 10px;
}
.supplier{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
}
.supplier > p{
    color: grey;
    padding-top: 2%;
    padding-left: 3%;
}
.box-change{
    width: 100%;
    height: 30px;
    background-color:rgb(244, 244, 244);
}
.box-change > p{
    color: grey;
    font-size: small;
    padding-top: 1%;
    padding-left: 10%;
}
.button-to-add{
    border: none;
    width: 100%;
    color: white;
    background-color: rgb(192, 43, 117);
    padding: 3%;
    font-size: large;
}
.div-to-btn{
    padding-top: 20px
}